

#app {
  background-color: pink;
}

#dragSpace {
  background-color: blue;
}

#canvas {
  background-color: yellow;
}

#picBank {
  background-color: green;
}

#resultsContainer {
  background-color: orange;
}
